<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>FifaFufaFafa</title>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="./Index.html">
                    Home
                </a>
                <a class="navbar-item" href="./Matches.html">
                    Matches
                </a>
                <a class="navbar-item" href="./Tracking.html">
                    Tracking
                </a>
            </div>
    </nav>

</head>

</head>

<body>

        <div class="table-wrapper">
                <div class="table-scroll">
                    <table id="groupsTable" style="margin:1%;">

                    </table>
                </div>
        </div>

</body>

<script src="../JS/xmlHttpWraper.js"></script>
<script src="../JS/LinksManager.js"></script>
<script src="../JS/utils.js"></script>
<script src="../JS/Tracker.js"></script>
<script src="../JS/Groups.js"></script>



</html>